.locationList {
    height: 85vh;
    overflow: auto; /* Es para habilitar el scroll cuando la pantalla sea pequeña */
}

@media (max-width: 64em) { /*  Ese tamaño de pantalla es pequeño entonces aplica otros estilos cuando se hace pequeña  */
    .locationList {
        max-height: 40vh; /* vh= view height, osea el tamaño de la pantalla */         
        margin-bottom: 20px;
    }    
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}